<%- include('./partials/header.ejs') %>
<div class="main"></div>
<header>
  <div>
    <div class="logo">
      <a href="/"> Jelsinge Prajwal </a>
    </div>
    <nav class="nav-container">
      <ul>
        <li class="navlink"><a href="/">Home</a></li>
        <li class="navlink"><a href="#about">About me</a></li>
        <li class="navlink"><a href="#skills">Skills</a></li>
        <li class="navlink"><a href="#projects">Projects</a></li>
        <li class="navlink"><a href="#contact">Contact me</a></li>
      </ul>
      <div class="resume-btn" id="nav-resume-btn">
        <a href="./assets/jelsinge_prajwal.pdf" download>Download CV</a>
        <img src="./assets/download.svg" alt="" srcset="" />
      </div>
    </nav>
    <div id="menu-bar">
      <!-- <i class="fas fa-bars"></i> -->
      <div class="line" id="line1"></div>
      <div class="line" id="line2"></div>
      <div class="line" id="line3"></div>
    </div>
  </div>
</header>
<div class="main">
  <section>
    <!-- Hero section -->
    <div class="hero-section"><%- include('./partials/hero.ejs') %></div>
    <!-- About Section  -->
    <%- include('./partials/about.ejs') %>
    <!-- Skills Section  -->
    <%- include('./partials/skills.ejs') %>
    <!-- Projects Section  -->
    <%- include('./partials/projects.ejs') %>
    <!-- Contact Section  -->
    <%- include('./partials/contact.ejs') %>
    <!-- Base Section  -->
    <%- include('./partials/base.ejs') %>
  </section>
</div>
<%- include('./partials/footer.ejs') %>
